/* ------- GERAL ---------- */

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

:root {
  --title-font: 'Mukta', sans-serif;
  
  --primary-color: rgb(255, 130, 249);

  font-size: 62.5%; /* 1rem == 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

body {
  font-family: var(--title-font);
  font-size: 1.5rem;
  font-weight: 300;
}

html.overflow-hidden,
body.overflow-hidden {
  overflow: hidden;
}
section {
  padding: 2rem;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  color: black;
  margin: 3rem 0;
  font: 400 2rem var(--title-font);
}

h2 span {
  color: var(--primary-color);
}

li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
}

.t-none {
  transition: none;
}

/* ----------- HOME ------------------ */
#home {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(paisagem_nascer_do_sol.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80rem;

  text-align: center;
  margin: auto;

  color: white;
}

#home header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#home header.bg-scroll {
background-color: white;
color: black;

}

#home header h1 {
  font-family: var(--title-font);
  font-size: 3rem;
  text-align: left;
  padding-left: 2rem;
  text-transform: uppercase;
}

#home header h1 span {
  color: var(--primary-color);
}

#home main img{
  width: 20rem;
  height: 20rem;

  margin-top: 25rem;

  border-radius: 10rem;
  border: 2px solid white;
  box-shadow: 0px 0px 10px black;
}

#home main h3 {
  font-size: 3rem;
  font-weight: 600;
  padding: 2rem;
}

#home #my-functions {
  display: inline-block;
  font-family: var(--title-font);
  font-weight: 200;
  text-transform: uppercase ;
  font-size: 3rem;

  box-sizing: initial;
  padding:0 1rem;

  border-right: 1px solid white;
}

#home #social {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}

#home .social-medias {
  padding: .5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 2px;
  border: .5px solid rgba(255, 255, 255, 0.193);
}

#home .social-medias:hover {
  background-color: var(--primary-color);
  transition: ease .8s;
}

#home .other-size {
  padding: .9rem;
}

/* ------------- MENU --------------------- */

#home header.menu-opened {
  background-color: white;
  color: black;

  transition:all .4s;
}

#home header #open-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 2rem;
}

#home header #open-menu.menu-opened{
  display: none;
  transition: display .4s;
}

#home header #open-menu:hover {
  cursor: pointer;
}

#home header #open-menu div {
  width: 30px;
  height: 3px;

  background-color: var(--primary-color);
}

#home header #close-menu.menu-closed {
  display: none;
}

#home header #close-menu p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 5rem;
  padding-bottom: .7rem;
  padding-right: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

#menu {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

#menu.menu-opened{
  visibility: visible;
  opacity: 1;

  position: fixed;
  top: 10rem;
  left: 0;

  color: black;
  font-size: 2rem;
  font-weight: 700;
  line-height: 6rem;
  text-align: center;

  padding: 3rem;
  background-color: white;
  height: 100vh;
  width: 100vw;

  transition:all 0.4s;
}

/* -------- ABOUT --------------- */

#about img {
  width: 30rem;
  padding: 1rem;

  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#about h2 {
  margin: 2rem 0;
  font-weight: 500;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: left;
  
}

#about p {
  padding: 1rem 0;
}

#about li span {
  color: rgba(128, 128, 128, 0.603);
  font-weight: 700;
  text-decoration: underline;
  padding-right: 1rem;
}

#about #buttons {
  margin-top: 2rem;
}

#about #buttons .b-1 {
  background-color: var(--primary-color);
  color: white;
  border: none;
  width: 10rem;
  height: 3rem;
  border-radius: 3px;
  margin-right: 1.5rem;
  padding: 0.5rem 1rem;
}

#about #buttons .b-1:hover {
  color: black;
  transition: color 0.5s;
}

#about #buttons .b-2 {
  background-color: white;
  width: 12rem;
  height: 3rem;
  border-radius: 3px;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
}

/* ---------- SERVICES ---------------- */

#services {
  background-color: #F8F8F8;
}

#services #services-box {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;

}

#services .service-box {
  text-align: center;
  max-width: 33.5rem;
  max-height: 25rem;
}

#services .service-image svg{
  width: 10rem;
  height: 10rem;
  padding: 2rem;
}

#services .service-box g {
  fill: var(--primary-color);
}



